.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2ebc4f;
}

header a {
  color: #e74c3c;
  padding: 2rem;
  font-size: 2.5rem;
}

a.brand {
  color: white;
  font-size: 3rem;
}
