.nav {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2ebc4f;
}

header a {
  color: #e74c3c;
  padding: 2rem;
  font-size: 2.5rem;
}

a.brand {
  color: white;
  font-size: 3rem;
}

.basket {
  background-color: #2ebc4f;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
